# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
managed_context
test_suite_analysis
dist
dist-ssr
pachage-lock.json
*.local
.vite
test.md
tasks.md
*.rest
test/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.qodo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

